
      body {
        background-color:#b5dcdc;
      }
      hr{
        background: none;
        border-style:none;
        border-top-style: dotted;
        border-top-color: #878e8e;
        border-width: 5px;
        width: 15%;
      }
      
